@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">CIT 365 My Scripture Journal Assignment</h1>
    <p>By Christian Mena-Osorio</p>
</div>
